<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メモ帳</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>

      <form action="/memo1" method="post"><h1>レインボーブリッジ封鎖できません！！！！！！</h1>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">この下にメモを書いてね</label>
          <textarea name="memo" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-info">メモ</button>
        
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">メモ一覧</th>
            <th scope="col">消滅</th>
          </tr>
        </thead>
        <tbody>
          {% for m in memo_tati %}
          <tr>
            <td>{{m.memo}}</td>
            <td>
              <form action="/memo_keshi/{{m.id}}" method="post">
                <button type="submit" class="btn btn-outline-danger">消しゴム</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </body>
</html>